{% extends "blog/base.html" %}
{% load static %}
{%block content%}
	<div class=" container " style="width: 50vw;" >
		<br>
		<!-- <div class="row">
			<div class="col-md-3 h-100 border-info" >
				<div class='card card-body h-100, border-info'  style="text-align: center;" style="width: 40%;" >
					<img  style="width: 100px; height: 100px; border-radius: 50%; margin-left: auto; margin-right: auto;" src="{% static 'images/newton.jpg' %}"/>
					<br>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Hi I'am Sahin</h6>
					</div>
					<br>
					<p> i am a big fun of Coding !</p>
				</div>

			</div>
		</div> -->
		
		<!-- <br>
		<br>
		<div class="row">
			<div class="col-md-6  h-100 border-info #">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Stephen Hawking</h6>
					</div>
					<br>
					<p class="text-danger">Quiet people have the loudest minds</p>
					


				</div>

			</div>
		</div> -->
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Albert Einstein</h6>
					</div>
					<br>
					<p class="text-danger">  "Imagination is more important than knowledge."</p>
					


				</div>

			</div>
			<div class="col-md-6  h-100 border-info ">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Stephen Hawking</h6>
					</div>
					<br>
					<p class="text-danger">Quiet people have the loudest minds</p>
					


				</div>

			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<br>
			<br>
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>

					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> What is Quantum Mechanics?</h6>
					</div>
					<br>
					<p  class= "text-success"> it's the physics that explains how everything works: the best description we have of the nature of the particles that make up matter and the forces with which they interact. ... It characterises simple things such as how the position or momentum of a single particle or group of few particles changes over time.</p>
				</div>

			</div>
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Omar Khayyam</h6>
					</div>
					<br>
					<p> “Tanrı gönlünce yaratır da her şeyi 
						Neden ölüme mahkum eder hepsini 
						Yaptığı güzelse neden kırar atar 
						Çirkinse suçu kim kime yüklemeli?.”</p>
				</div>

			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Omar Khayyam</h6>
					</div>
					<br>
					<p> “I sent my Soul through the Invisible,
						Some letter of that After-life to spell:
						And by and by my Soul return'd to me,
						And answer'd: 'I Myself am Heav'n and Hell”</p>
				</div>

			</div>
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Carl Sagan</h6>
					</div>
					<br>
					<p style="color:orange"> We are made of star-stuff.
						Our bodies are made of star-stuff.
						There are pieces of star within us all.</p>
				</div>

			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Ömer Hayyam</h6>
					</div>
					<br>
					<p style="color:#e312ab"> “
						kim demiş haram nedir bilmez hayyam
						ben helali haramı karıştırmam
						seninle içilen şarap helaldir
						sensiz içtiğimiz su bile haram”</p>
				</div>

			</div>
			<div class="col-md-6  h-100 border-info">
				<div class='card card-body  h-100, border-info'>
					<div  class="article-metadata">
						<h6 style="color: black;  font-weight: bold"> Omar Khayyam</h6>
					</div>
					<br>
					<p style="color:#ab12ef"> Wer hat mich so erschaffen wie ich bin? Du!
						Was ich mache, was ich sage hast du mir schon vorbestimmt.
						Also bist es auch du, der mich sündigen lässt.
						Wozu dann Himmel und Hölle?</p>
				</div>

			</div>
		</div>
	</div>

		

{%endblock content%}
